@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

@font-face {
	font-family: 'CGFLocustResistance';
	src: url('./fonts/CGFLocustResistance.eot');
	src: local('CGFLocustResistance'), url('./fonts/CGFLocustResistance.woff') format('woff'), url('./fonts/CGFLocustResistance.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_16964">Text with this font applied</p> */
.fontsforweb_fontid_16964 {
	font-family: 'CGFLocustResistance' !important;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 600 12px/1 'Open Sans', sans-serif;
  color: #333;
  background: #D32F2F;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: fixed;
  width: 200px;
    
}

.content {
  flex: 1;
  padding: 30px;
  background: #e0e0e0   ;
  box-shadow: 0 0 5px black;
  transform: translate3d(36px, 0, 0);
  transition: transform .3s;
}

.content.isOpen {
  transform: translate3d(200px, 0, 0);
  
}

.button {
  cursor: pointer;
    
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

/* Demo Navigation */
.title {
  font-size: 16px;
  line-height: 50px;
  font-family: CGFLocustResistance;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #D32F2F;
  /* transition-delay: 0.s; */
  opacity: 1;
}
.title.isOpen{
  color: transparent;
  transition-delay: 0.25s;
}
.nav li a {
  position: relative;
  display: block;
  font-family: 'Quicksand', sans-serif;
  
  padding: 20px 0 20px 40px;
  font-size: 14px;
  color: #eee;
  border-bottom: 1px solid #222;
}

.nav li a:before {
  font: 16px fontawesome;
  position: absolute;
  top: 19px;
  left: 10px;
}

.nav li:nth-child(1) a:before {
  content: '\f007';
  left: 11px;
}

.nav li:nth-child(2) a:before {
  content: '\f14a';
}

.nav li:nth-child(3) a:before {
  content: '\f092';
}

.nav li:nth-child(4) a:before {
  content: '\f0e0 ';
}

.nav li:nth-child(5) a:before {
  content: '\f0a8 ';
}

.nav li:nth-child(6) a:before {
  content: '\f115';
}

.nav li:nth-child(7) a:before {
  content: '\f085';
}

.nav li:nth-child(8) a:before {
  content: '\f023';
  left: 23px;
}

.nav li a:hover {
  background: #E91E63;
}

.nav li a.active {
  box-shadow: inset 3px 0 0 #e0e0e0 , inset 3px 0 0 #e0e0e0;
  background: #37474f;
}

/* Demo Description */
h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}